<!-- <h2>Hi, it's a demo project!</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
<h2>I'll pull this changed file</h2>
 -->


 <div class="wrapper fadeInDown zero-raduis">
    <div id="formContent">

      <div class="fadeIn first">
        <h2 class="my-5">Sign In</h2>
      </div>

      <form>
        <input type="text" id="name" class="fadeIn second zero-raduis" name="username" placeholder="Enter your username" autocomplete="off">
        <input type="password" id="password" class="fadeIn third zero-raduis" name="password" placeholder="password" autocomplete="off">
          <div id="formFooter">
        </div>
        <input type="submit" class="fadeIn fourth zero-raduis" value="login">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </form>
      

    </div>
</div>